body {
        background:
          url(images/background/carbon-fibre.png)
}

.div1 {
    display: block;
    width: 600px;
    height: auto;
    margin-left: auto;
}

h1{
    color: yellowgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.parent {
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.child1 {
    width: auto;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size:large;
    color: white;
}

.child2 {
    width: auto;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size:large;
    color: white;
}

.child3 {
    width: auto;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size:large;
    color: white;
}

h2 {
    color: wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-style: italic;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid white;
    border-collapse: collapse;
}
    
.table th {
    font-weight: bold;
    padding: 5px;
    border: 1px solid white;
}
    
.table td {
    border: 1px solid white;    
    padding: 5px;
}    